{% extends 'BeubiDemoBundle::layout.html.twig' %}

{% block demo_form %}<li class="active"><a href="{{ path('workouts') }}">Workouts</a></li>{% endblock %}

{% block content %}
    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{{ path('home') }}">Home</a></li>
            <li class="active">Redis</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-md-12 maincontent">
                <div class="pull-right">

                </div>
                <header class="page-header">
                    <h1 class="page-title">Redis Sessions</h1>
                </header>
                <table id="workout-list" class="table table-hover table-striped">
                    <thead>
                    <th>Session</th>
                    </thead>
                    <tbody>
                        {% for session in redis %}
                            <tr>
                                <td>{{ session }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </article>
            <!-- /Article -->

        </div>
    </div>	<!-- /container -->

{% endblock %}